<configuration>

 <logger name="grisu" level="debug"/>
 <logger name="grith" level="debug"/>





 <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-30(%d{HH:mm:ss.SSS} [%level] [%thread]) [%logger{0}] csid=[%X{session}] user=[%X{user}] cmdid=[%X{cmdid}] - %msg%n</pattern>
    </encoder>
 </appender> 
  

  

  
 <consolePlugin />  

  <root>
    <level value="warn" />
    <appender-ref ref="FILE" />
<!--     <appender-ref ref="SYSLOG" />  -->
<!--     <appender-ref ref="GRAYLOG" />  -->
<!--     <appender-ref ref="SIFT" />  -->
   <appender-ref ref="STDOUT" />
  </root>
</configuration>
